﻿@model IList<DemoMVC.Domain.Data.custom_cheque>

<h3>Top 3 cheques (Partial View)</h3>
<ul>
    @foreach (var cheque in Model)
    {
        <li>@cheque.ChequeName - @cheque.ChequeAmount.ToString("#,##0.00")</li>
    }
</ul>

