﻿@model DemoMVC.Domain.Model.Cheque
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>Name</th><td>@Model.ChequeDetail.ChequeName</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>@Model.ChequeDetail.ChequeDate.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Amount</th>
        <td>$@Model.ChequeDetail.ChequeAmount.ToString("#,##0.00")</td>
    </tr>
    <tr>
        <th>Text</th>
        <td>@Model.ChequeText</td>
    </tr>
</table>
@Html.ActionLink("Back to List", "Index")
<div>
    @Html.Action("Top3", "Cheques")

</div>